<div class="right-content">
    <div class="top">
        <h3 style="text-align: center; font-weight: bold; margin-top: 20px; text-transform: uppercase;">NỘI DUNG CÂU HỎI
            {{ license.name }}</h3>
        <p class="licenseLevel" hidden>{{ license.level }}</p>
    </div>
    <div class="middle">
        <div class="box">
            <div class="bar">
                <select id="mySelect" class="form-select">
                    <option value="default" selected>Danh sách câu hỏi</option>
                    {{#each list}}
                    <option value="{{ id }}">Câu hỏi số {{ id }}</option>
                    {{/each }}
                </select>
                <div class="backBtn"><a href="/document">Quay lại</a></div>
            </div>
            <div class="question-content">
                <p style="font-size: 20px; color: #d13639; font-weight: bold; text-align:center;">Chọn câu hỏi để xem
                    chi tiết</p>
                {{!-- <div class="title">
                    <p style="font-weight: bold; font-size: 18px;">Câu hỏi số 20: Khi lái xe trong khu đô thị và đông
                        dân cư trừ các khu vực có biển cấm sử dụng còi, người lái xe được sử dụng còi như thế nào trong
                        các trường hợp dưới đây?</p>
                    <img src="../image/document/{{ license.level }}/44.png" alt="">
                </div>
                <div class="choose">
                    <p>1. Từ 22 giờ đêm đến 5 giờ sáng</p>
                    <p>2. Từ 5 giờ sáng đến 22 giờ tối</p>
                    <p>3. Từ 23 giờ đêm đến 5 giờ sáng hôm sau</p>
                </div> --}}
            </div>
            <p style="font-size: 15px; color: red; font-style: italic; margin-top: 50px;">Mẹo: Câu trả lời đúng có màu
                đỏ</p>
        </div>
    </div>
</div>